<a href="https://colab.research.google.com/github/gangakailas/PythonBasics/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***list operations***

In [ ]:
#reversing a list
list1=[]
x=int(input("Enter the no. of terms= "))
while x>0:
  l=int(input("Enter the elements= "))
  list1.append(l)
  x=x-1

print("Initial list= ",list1)
list1.reverse()
print("List after reversing= ",list1)

Enter the no. of terms= 7
Enter the elements= 36
Enter the elements= 12
Enter the elements= 60
Enter the elements= 27
Enter the elements= 43
Enter the elements= 11
Enter the elements= 88
Initial list=  [36, 12, 60, 27, 43, 11, 88]
List after reversing=  [88, 11, 43, 27, 60, 12, 36]

In [ ]:
#concat two lists index-wise
list1=[]
list2=[]
list3=[]
x=int(input("Enter the no. of terms(list1)= "))
y=x
x1=x
while x>0:
  num=str(input ("Enter the elements of list1= "))
  list1.append(num)
  x=x-1
print("First list= ",list1)

while y>0:
  num1=str(input ("Enter the elements of list2= "))
  list2.append(num1)
  y=y-1
print("Second list= ",list2)

for i in range(0,x1):
  list3.append(list1[i]+list2[i])

print("The final list= ",list3)

Enter the no. of terms(list1)= 3
Enter the elements of list1= 1
Enter the elements of list1= 2
Enter the elements of list1= 3
First list=  ['1', '2', '3']
Enter the elements of list2= 3
Enter the elements of list2= 4
Enter the elements of list2= 5
Second list=  ['3', '4', '5']
The final list=  ['13', '24', '35']

In [ ]:
#find the square of items in a list with values from 1 to 10
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=[]
for i in list1:
  list2.append(i*i)

print("Initial list= ", list1)
print("Final list= ", list2)

Initial list=  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Final list=  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#remove empty string from a list of strings
mylist=["do", "the", "", "right", "things"]
print("Initial list= ", mylist)

for i in mylist:
  if i=="":
    mylist.remove(i)

print("Final list= ", mylist)

Initial list=  ['do', 'the', '', 'right', 'things']
Final list=  ['do', 'the', 'right', 'things']

In [ ]:
#find a particular item in a list, and if present replace it with its square value
mylist=[2, 4, 12, 9, 7, 4]
x=int(input("Enter the value to be searched= "))

if x not in mylist:
  print("The entered value is absent in the list")
else:
  print("List before operation= ", mylist)
  for i in range(len(mylist)):
    if mylist[i]==x:
      mylist[i]=x*x
      break

print("List after operation=", mylist)

Enter the value to be searched= 4
List before operation=  [2, 4, 12, 9, 7, 4]
List after operation= [2, 16, 12, 9, 7, 4]

In [ ]:
#remove all occurence of a specific item from a list
list1=[3, 2, 8, 6, 5, 2, 4, 3, 2]
print("The list before operation=", list1)
x=int(input("Enter the item to be searched: "))

for i in list1:
  if i==x:
    list1.remove(i)

print("List after operation=", list1)