<a href="https://colab.research.google.com/github/gangakailas/PythonBasics/blob/main/Listsextra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating squared list

x=[1,2,3,4]
x2=[]
for i in x:
  x2.append(i*i)
print(x2)

[1, 4, 9, 16]

In [ ]:
x=[1,2,3,4]
x2=[]
for i in x:
  if i%2==0:
    x2.append(i*i)
  else:
    x2.append(i)
print(x2)

[1, 4, 3, 16]

In [ ]:
x2=[each*each if each%2==0 else each**3 if each%3==0 else each for each in x]
x2

[1, 4, 27, 16]