<a href="https://colab.research.google.com/github/gangakailas/PythonBasics/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Remove an item from a set if it is present
s1={"Sutharya","Lana", "Swani", "Neha", "Thanmaya", "Ganga"}
print("Before elimination= ", s1)
if "Thanmaya" in s1:
  s1.remove("Thanmaya")
print("After elimination= ", s1)

Before elimination=  {'Thanmaya', 'Ganga', 'Neha', 'Lana', 'Swani', 'Sutharya'}
After elimination=  {'Ganga', 'Neha', 'Lana', 'Swani', 'Sutharya'}

In [ ]:
#create intersection of sets
A={2, 4, 8, 9}
B={6, 1, 8, 2, 0}
print("set 1= ", A)
print("set 2= ", B)

print(A.intersection(B))

set 1=  {8, 9, 2, 4}
set 2=  {0, 1, 2, 6, 8}
{8, 2}

In [ ]:
#Finding maximum and minimum values in a set
C={9, 7, 11, 40, 32, 5}
s=min(C)
l=max(C)
print("Smallest value in set= ", s)
print("Largest value in set= ", l)

Smallest value in set=  5
Largest value in set=  40

In [ ]:
#Check if two sets have no elements in common
D={'apple', 'mango', 'pineapple', 'coconut'}
E={'mango', 'guava', 'watermelon', 'strawberry', 'coconut'}

if (D.intersection(E))==set():
  print("No common elements")
else:
  print("There are common elements= ", D.intersection(E))

There are common elements=  {'coconut', 'mango'}

In [ ]:
#creating user-inputted set
set1=set()

n=int(input("Enter number of elements= "))
for i in range(n):
  value=int(input("Enter value= "))
  set1.add(value)

print(set1)

Enter number of elements= 5
Enter value= 1
Enter value= 2
Enter value= 3
Enter value= 4
Enter value= 5
{1, 2, 3, 4, 5}