<a href="https://colab.research.google.com/github/gangakailas/PythonBasics/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a tuple with different data types and reverse it

t1=(123, "google", "321", 37, "music")
print("The initial tuple= ", t1)
t2=t1[::-1]
print("The revrsed tuple= ",t2)

The initial tuple=  (123, 'google', '321', 37, 'music')
The revrsed tuple=  ('music', 37, '321', 'google', 123)

In [ ]:
#Count the number of occurence of an item from a tuple
t1=("hell", 37, "hell", 12, "hello", 12, 12)
print("The tuple= ",t1)
num=t1.count(12)
print("Count= ", num)

The tuple=  ('hell', 37, 'hell', 12, 'hello', 12, 12)
Count=  3

In [ ]:
#creating tuple using user input
num=int(input("Enter number of inputs that you prefer= "))
tup1=()
for i in range(num):
  val=int(input("Enter input= "))
  tup1=tup1+(val,)

print(tup1)

Enter number of inputs that you prefer= 3
Enter input= 1
Enter input= 2
Enter input= 3
(1, 2, 3)

In [ ]:
#Unpack a tuple into several variables
tuple1=(12, "apple", "clouds", 41, 100, "guitar")
t1, t2, t3, t4, t5, t6= tuple1
print(t1, t2, t3, t4, t5, t6)

12 apple clouds 41 100 guitar

In [ ]:
#find element-wise sum of two tuple
tuple1=(12, 41, 100)
tuple2=(11, 43, 96)
tuple3=()
sum=0
for i in range(3):
  sum=tuple1[i]+tuple2[i]
  tuple3+=(sum,)

print(tuple3)

(23, 84, 196)

In [ ]:
#convert a tuple into a dictionary
tup1=((1,"name"), (2,"age"), (3,"dob"))
d=dict(tup1)
print(tup1)
print(d)

((1, 'name'), (2, 'age'), (3, 'dob'))
{1: 'name', 2: 'age', 3: 'dob'}

In [ ]:
tuple1=(12, 41, 100)
print(tuple1[0])
print(tuple1[0])
print(tuple1[2])

12
12
100